
html{
  background-color: #000000;
  font-family:  system-ui, Helvetica, sans-serif;
}
  
  main {
    /*width: 800px;
     border: 1px solid #e0e0e0; */
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    background-color: #141414;
  }
  
  .left-block {
    width: 100%;
    max-width: 400px;
    /* border-right: 1px solid #e0e0e0; */
    background-color: #141414;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
  }

  .left-block::-webkit-scrollbar {
    display: none;
  }

  #lineWidth{
    border-radius: 5px;
    text-align: center;
  }
  
  .toolbar button {
    background-color: #2B2E35;
    border: none;
    border-radius: 4px;
    height: 50px;
    color:white;
    padding: 2px;
}

#toolbar button {
  background-color: #2B2E35;
  border: none;
  border-radius: 4px;
  height: 50px;
  color:white;
  padding: 2px;
}

  
  .buttons {
    height: 80px;
    padding-top: 10px;
  }
  
  .buttons button {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 0;
    background-color: #ece8e8;
    
    padding: 5px;
    height: 30px;
    outline: none;
    position: relative;
    cursor: pointer;
    font-size: 16px;
  }

  .buttons input{
    display: block;
    width: 100%;
    border: 0;
    border-radius: 0;

    margin-bottom: 5px;
    padding: 5px;
    height: 30px;
    outline: none;
    position: relative;
    cursor: pointer;
    font-size: 16px;
  }
  
  .right-block {
    width: 1000px;
    height: 1100px;
  }

  .toolbar button:hover{
    background-color: cornflowerblue;
  }
  
  #toolbar button:hover{
    background-color: cornflowerblue;
  }
  
  #paint-canvas {
    cursor:crosshair;
    background-color: transparent;
  }

  #select-canvas {
    cursor:crosshair;
    background-color: transparent;
  }


  .right-block > canvas {
    position: absolute;
    top: 30px;
    border: 1px solid #e0e0e0;
    background-color: white;
  }
  
  .icon{
    height: 100%;
    width: 10%;
  }

  .flex-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #24272E;
    padding: 10px;

    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .sub-flex-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*background-color: #141414 !important;*/
    margin-bottom: 20px;
    border-radius: 5px;
    align-items: center;
  }



  .grey{
    background-color: #2B2E35 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
  }

  .purple{
    background-color: #6540AF !important;
  }

  .purple:disabled{
    background-color: #2B2E35 !important;
  }

  ::placeholder {
    color: #BFC0C2;
  }

  #clear{
    padding-top: 3px !important;
    border-color: #BFC0C2 !important;
    border-radius: 5px !important;
    border-style: solid !important;
    background-color: #24272E !important;
  }

  #clear:hover{
    background-color: cornflowerblue  !important;
  }

  #save{
    padding-top: 3px !important;
  }
  .center{
    background-color: #24272E;
    display: flex;
    text-align: left;
    margin-bottom: 16px;
  }

  #remove{
    margin-bottom: 20px;
  }
  .sub-flex-group textarea{
    background-color: #24272E;
    border-color: #BFC0C2;
    border-radius: 5px;
    border-width: 3px;
    color:white;

  }

  #paint {
    text-align: left;
    background-color: none;
  }

  .drawing-buttons{
    display: flex;
    

  }

  .sub-flex-group button{
    /*background-color: #141414 ;*/
    padding: 20px !important;
    margin: 5px;
    border-radius: 5px;
    display: flex;

  }

  .sub-flex-group2{
    background-color: none;
  }

  .sub-flex-group img{
    margin-right: 10px;
  }

  .sub-flex-group input{
    background-color: #2B2E35;
    color: white;
    border: none;
  }

  .sub-flex-group button:active{
    background-color:#2B2E35 !important;
  }

  .center{
    text-align: left;
    display: flex;
  }
  .flex-col {
    flex-direction: column;
  }

  .flex-group *{
    width: 100%;
  }

  .active{
    background-color: #1b1b1c !important;
    border: 4px;
    border-color: #6540AF !important;
    border-style: solid !important; 
  }

  .hide{
    display: none;
  }

  .center{
    justify-content: center;
  }

  input[type="file"] {
    display: none;
}

.custom-file-upload {
  display: flex;
  align-content: left;
  cursor: pointer;
  background-color: #2B2E35;
  padding-top: 20px;
  padding-bottom: 20px;
}

.max{
  max-height: 200px;
}

.image-buttons{
  display: flex;
  background-color: #2B2E35;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align:center;
  align-items: center;
  justify-content: center;

}

.image-buttons:hover{
  background-color: cornflowerblue;
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6540AF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6540AF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

