
html{
  background-color: #000000;
  font-family:  Arial, Helvetica, sans-serif;
}
  
  main {
    /*width: 800px;
     border: 1px solid #e0e0e0; */
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    background-color: #141414;
  }
  
  .left-block {
    width: auto;
    border-right: 1px solid #e0e0e0;
    background-color: #141414;
    color: white;
    display: flex;
    flex-direction: column;
    
  }

  #lineWidth{
    border-radius: 5px;
    text-align: center;
  }
  
  #toolbar button {
    background-color: #6540AF;
    border: none;
    border-radius: 4px;
    height: 50px;
    color:white;
    padding: 2px;
}


  
  .buttons {
    height: 80px;
    padding-top: 10px;
  }
  
  .buttons button {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 0;
    background-color: #ece8e8;
    
    padding: 5px;
    height: 30px;
    outline: none;
    position: relative;
    cursor: pointer;
    font-size: 16px;
  }

  .buttons input{
    display: block;
    width: 100%;
    border: 0;
    border-radius: 0;

    margin-bottom: 5px;
    padding: 5px;
    height: 30px;
    outline: none;
    position: relative;
    cursor: pointer;
    font-size: 16px;
  }
  
  .right-block {
    width: 1000px;
    height: 1600px;
  }

  #toolbar button:hover{
    background-color: cornflowerblue;
  }
  
  #paint-canvas {
    cursor:crosshair;
    background-color: transparent;
  }

  .right-block > canvas {
    position: absolute;
    top: 5px;
    border: 1px solid #e0e0e0;
    background-color: white;
  }
  
  .icon{
    height: 100%;
    width: 10%;
  }

  .flex-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #383737;
    padding: 20px;

    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .sub-flex-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #141414 !important;
    margin-bottom: 20px;
    align-items: center;
  }

  .grey{
    background-color: #2B2E35 !important;
  }

  .sub-flex-group textarea{
    background-color: #383737;
    color: white;
    border: none;
  }



  .sub-flex-group button{
    background-color: #141414 ;
    padding: 20px !important;
    margin: 5px;
    border-radius: 5px;

  }

  .sub-flex-group input{
    background-color: #2B2E35;
    color: white;
    border: none;
  }

  .sub-flex-group button:active{
    background-color: #383737 !important;
    border: 4px;
    border-color: #6540AF;
  }

  .sub-flex-element{
    margin: 5px;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-group *{
    width: 100%;
  }

  .active{
    background-color: #1b1b1c !important;
    border: 4px;
    border-color: #6540AF;
    
  }

  .center{
    justify-content: center;
  }

  input[type="file"] {
    display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.max{
  max-height: 200px;
}


 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6540AF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6540AF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 